################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstTerraceSystems/bin
/FirstTerraceSystems/obj
