@inject StateContainerService StateContainer
@inject WindowsSerivce WindowsSerivce
@inject Repositories.MarketFeedRepository MarketFeedRepository
@inject Repositories.TickerRepository TickerRepository
@inject BsToastService Toast
@inject ChartService ChartService
@inject NasdaqHistoricalDataService HistoricalDataService

@implements IDisposable

<div @ref="ER_ChartWindow"></div>

@code {
    [Parameter]
    public object? ChartIndx { get; set; }

    [Parameter]
    public object? MinPoint { get; set; }

    [Parameter]
    public object? MaxPoint { get; set; }

    [Parameter]
    public string Symbol { get; set; } = "AAPL";

    [Parameter]
    public IEnumerable<DataPoint>? DataPoints { get; set; }

    private ElementReference ER_ChartWindow { get; set; }

    private Models.ChartModal ChartPageModal { get; set; } = new();

    private DotNetObjectReference<ChartWindow>? _dotChartWindowRef;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ChartPageModal = new Models.ChartModal { ChartId = ChartIndx?.ToString(), JSRuntime = JSRuntime, UpdatedMinExtreme = MinPoint, UpdatedMaxExtreme = MaxPoint, Symbol = Symbol };
        WindowsSerivce.UnlockWindowResize();
        StateContainerService.AddChartPage(ChartPageModal);
        _dotChartWindowRef = DotNetObjectReference.Create(this);
        WebSocketClient.ActionReferenceChart += RefreshCharts;
    }

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("ChatAppInterop.setDotNetReference", _dotChartWindowRef);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("changeBackgroundColor", StateContainerService.IsDarkMode);
            await JSRuntime.InvokeVoidAsync("popoutChartWindow", _dotChartWindowRef, ER_ChartWindow, ChartIndx, MinPoint, MaxPoint, Symbol, DataPoints);
        }
    }

    private async Task RefreshCharts(NasdaqResponse? response)
    {
        await JSRuntime.InvokeVoidAsync("refreshCharts");
    }

    [JSInvokable]
    public void ZoomingChanged(object minPoint, object maxPoint)
    {
        ChartPageModal.UpdatedMinExtreme = minPoint;
        ChartPageModal.UpdatedMaxExtreme = maxPoint;
    }

    [JSInvokable]
    public void SymbolChanged(string symbol)
    {
        Symbol = symbol;
        ChartPageModal.Symbol = symbol;
    } 
    
    [JSInvokable]
    public async Task<IEnumerable<MarketFeed>> GetChartDataBySymbol(string symbol, DataPoint? lastPoint)
    {
        if (lastPoint == null)
        {
            var symbolics = await MarketFeedRepository.GetChartDataBySymbol(symbol, DateTime.Now);
            return symbolics;
        }
        else
        {
            var symbolics = await MarketFeedRepository.GetChartDataBySymbol(symbol, lastPoint.PrimaryKey);
            return symbolics;
        }
    }

    [JSInvokable]
    public async Task<IEnumerable<MarketFeed>?> UpdateChartSymbol(string chartId, string symbol)
    {
        if (!TickerRepository.IsTickerExists(symbol))
        {
            Toast.ShowDangerMessage($"Ticker '{symbol}' does not exist.");
            return null;
        }
        else
        {
            ChartService.UpdateSymbol(chartId, symbol);
        }

        await HistoricalDataService.ProcessHistoricalNasdaqMarketFeedAsync(symbol);

        var symbolics = await MarketFeedRepository.GetChartDataBySymbol(symbol, DateTime.Now);

        return symbolics;
    }

    public void Dispose()
    {
        _dotChartWindowRef?.Dispose();
    }

}