@page "/gridCharts"

<div id="sortable" class="gridly ">
    @foreach (var chartId in chartIds)
    {
        <div class="chartBox">
            <div class="brick large" id="@chartId"></div>
        </div>
    }
</div>

@code
{
    private List<string> chartIds = new List<string>
    {
        "chartContainer1",
        "chartContainer2",
        "chartContainer3",
        "chartContainer4",
        "chartContainer5",
        "chartContainer6",
        "chartContainer7",
        "chartContainer8",
        "chartContainer9"
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            foreach (var chartId in chartIds)
            {
                await JSRuntime.InvokeVoidAsync("loadMultiStockChart", chartId);
                await JSRuntime.InvokeVoidAsync("addChartDblClickListener", chartId);
            }
            await JSRuntime.InvokeVoidAsync("dragdropchart");
        }
    }

}