@page "/gridCharts"

<div id="sortable" class="gridly ">

    <div  id="sortable" class="single-chart">
        <div class="brick large" id="chartContainer1"></div>
    </div>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadMultiStockChart", "chartContainer1");
        }
    }
}


