@page "/multiChats"
@using FirstTerraceSystems.Entities.Nasdaq
@inject NsdaqService NsdaqService

<div class="container-fluid">
    <div id="chartList" class="row"></div>
</div>

@code
{
    private IEnumerable<EquitiesBarModal>? EquitiesBars { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var currentDate = DateTime.Now;
        var startDate = currentDate.AddDays(-3);
        startDate = new DateTime(startDate.Year, startDate.Month, startDate.Day, 9, 0, 0);

        EquitiesBars = await NsdaqService.GetEquitiesBars(startDate, "AAPL");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (EquitiesBars != null)
        {
            await JSRuntime.InvokeVoidAsync("LoadData", EquitiesBars);
            await JSRuntime.InvokeVoidAsync("loadDashboard");
        }
    }
}