@page "/multiChats"

@using System.Net.WebSockets
@using System.Text
@using System.Text.Json
@using FirstTerraceSystems.Entities
@using FirstTerraceSystems.Features
@using FirstTerraceSystems.Models
@using Blazored.LocalStorage;

@inject NasdaqService NasdaqService
@inject Repositories.SymbolicRepository SymbolicRepository
@inject IJSRuntime JS
@inject ILocalStorageService LocalStorage

@implements IAsyncDisposable

<style>
    #popup {
        display: none;
        position: absolute;
        border: 1px solid #000;
        background-color: #fff;
        padding: 10px;
        z-index: 10000;
    }
</style>

<div class="container-fluid">
    <div id="chartList" class="row"></div>
</div>
    