@page "/multiChats"
@using FirstTerraceSystems.Entities.Nasdaq
@using FirstTerraceSystems.Features
@using System.Net.WebSockets
@using System.Text
@using System.Text.Json
@inject NsdaqService NsdaqService
@inject SqlLiteService SqlliteService
@inject IJSRuntime JS

<style>
    #popup {
        display: none;
        position: absolute;
        border: 1px solid #000;
        background-color: #fff;
        padding: 10px;
        z-index: 10000;
    }
</style>


<div class="container-fluid">
    <div id="chartList" class="row"></div>
</div>


@code
{
    private IEnumerable<EquitiesBarModal>? EquitiesBars { get; set; }

    private ClientWebSocket webSocket = new ClientWebSocket();

    int SocketConnectionTrial = 0;

    protected override async Task OnInitializedAsync()
    {
        //Create reference in Multichart.js file to call current page methods from js file
        var lDotNetReference = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("T5.SetDotNetReference", lDotNetReference);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ConnectWebSocket(); // Connect to Websocket
            Listen(); // Initialize Websocket listner
            await NsdaqService.GetSymbolicData(); //Call api and update data to the sqllite
        }
        await JSRuntime.InvokeVoidAsync("loadDashboard", 1);
    }

    private async Task ConnectWebSocket()
    {
        if (SocketConnectionTrial < 3)
        {
            try
            {
                await webSocket.ConnectAsync(new Uri("ws://52.0.33.126:8000/nasdaq/get_real_data"), CancellationToken.None);
                var buffer = Encoding.UTF8.GetBytes("start");
                await webSocket.SendAsync(new ArraySegment<byte>(buffer), WebSocketMessageType.Text, true, CancellationToken.None);
                SocketConnectionTrial = 0;
            }
            catch (Exception)
            {
                SocketConnectionTrial++;
                await ConnectWebSocket();
            }
        }

    }

    //Websocket listner to Stock data, It update data in SqlLite db and refreshes the charts
    private async Task Listen()
    {
        var buffer = new byte[1024 * 4];
        while (webSocket.State == WebSocketState.Open)
        {
            try
            {
                var result = await webSocket.ReceiveAsync(new ArraySegment<byte>(buffer), CancellationToken.None);
                if (result.MessageType == WebSocketMessageType.Text)
                {
                    var message = Encoding.UTF8.GetString(buffer, 0, result.Count);
                    if (!message.Contains("start"))
                    {
                        await JSRuntime.InvokeVoidAsync("console.log", message);
                        var data = JsonSerializer.Deserialize<NasdaqData>(message);
                        SqlliteService.UpdateSymbolicsocketDataToDB(data);
                        await JSRuntime.InvokeVoidAsync("RefreshChartData");
                    }
                }
            }
            catch (Exception ex)
            {
                await ConnectWebSocket();   
            }
        }
    }

    //To update chart data with symbol
    [JSInvokable("GetStockBySymbol")]
    public async Task<dynamic> GetStockBySymbol(string symbol)
    {
        var symbolicdata = SqlliteService.GetSymbolicData(symbol);
        return symbolicdata;
    }


}