@* @page "/" *@
@page "/multi-charts"

@inject NasdaqService NasdaqService
@inject NasdaqHistoricalDataService HistoricalDataService
@inject Repositories.MarketFeedRepository MarketFeedRepository
@inject Repositories.TickerRepository TickerRepository
@inject ChartService ChartService
@inject BsToastService Toast
@inject ILogger<MultiCharts> Logger

@implements IAsyncDisposable

<style>
    #popup {
        display: none;
        position: absolute;
        border: 1px solid #000;
        background-color: #fff;
        padding: 10px;
        z-index: 10000;
    }
</style>

<div id="chartList" class="row g-4"></div>