@page "/multi-charts"

@inject NasdaqService NasdaqService
@inject Repositories.MarketFeedRepository MarketFeedRepository
@inject Repositories.TickerRepository TickerRepository
@inject DatabaseService DatabaseService
@inject NasdaqHistoricalDataService HistoricalDataService
@inject ChartService ChartService
@inject BsToastService Toast
@inject ILogger<MultiCharts> Logger

@inject PreloadService preloadService
@implements IAsyncDisposable

@if (IsLoading)
{
    <div class="d-flex justify-content-center">
        <Spinner Type="SpinnerType.Border" Size="SpinnerSize.ExtraLarge" />
    </div>
}
<style>
    #popup {
        display: none;
        position: absolute;
        border: 1px solid #000;
        background-color: #fff;
        padding: 10px;
        z-index: 10000;
    }

    .spinner-border {
        padding: 33px;
    }
</style>

<div class="container-fluid">
    <div id="chartList" class="row"></div>
</div>