@page "/multiChats"
@using FirstTerraceSystems.Entities.Nasdaq
@inject NsdaqService NsdaqService

<div class="container-fluid">
    <div id="chartList" class="row"></div>
</div>

@code {
    private IEnumerable<string>? Symbols { get; set; }
    private Dictionary<string, IEnumerable<EquitiesBarModal>> SymbolData { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Symbols = await NsdaqService.GetSymbols();
        if (Symbols == null)
        {
            Console.WriteLine("Failed to fetch symbols.");
            return;
        }

        var currentDate = DateTime.Now;
        var startDate = currentDate.AddDays(-3);
        startDate = new DateTime(startDate.Year, startDate.Month, startDate.Day, 9, 0, 0);

        foreach (var symbol in Symbols)
        {
            var equitiesBars = await NsdaqService.GetEquitiesBars(startDate, symbol);
            if (equitiesBars != null)
            {
                SymbolData[symbol] = equitiesBars;
            }
            else
            {
                Console.WriteLine($"Failed to fetch data for symbol: {symbol}");
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && SymbolData != null)
        {
            foreach (var symbol in SymbolData.Keys)
            {
                await JSRuntime.InvokeVoidAsync("LoadData", SymbolData[symbol]);
                await JSRuntime.InvokeVoidAsync("addChartBoxForSymbol", SymbolData[symbol], symbol);
            }
        }
    }
}