@page "/stockchart"

@using MudBlazor


<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Color="@Color.Dark" @bind-ActivePanelIndex="activeIndex">
    <MudTabPanel OnClick="LoadChart" Text="XNYS: APPL" ShowCloseIcon=true>
        <div id="container"></div>
    </MudTabPanel>
    <MudTabPanel OnClick="LoadChart" Text="ADD CHART">
        <div id="container1"></div>
    </MudTabPanel>
    <MudTabPanel OnClick="LoadChart" Text="Scatter CHART">
        <div id="container2"></div>
    </MudTabPanel>
</MudTabs>

@code {
    int activeIndex = 0;

    protected async override Task OnInitializedAsync()
    {
        await LoadChart();
    }

    private async Task LoadChart()
    {
        if (activeIndex == 0)
        {
            await JSRuntime.InvokeVoidAsync("loadStockChart", "");
        }
        else if(activeIndex == 1)
        {
            await JSRuntime.InvokeVoidAsync("loadStockChart1", "");
        }
        else if (activeIndex == 2)
        {
            await JSRuntime.InvokeVoidAsync("loadStockChart2", "");
        }
    }
}


 