@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div id="headbar" class="top-row px-4">
            <MudSwitch Color="Color.Primary" ValueChanged="@((bool newValue) => ToggleDarkMode(newValue))" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code{
    private bool IsDarkMode { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("changeBackgroundColor", IsDarkMode);
        }
    }

    // Method to handle MudSwitch state changes
    private async Task ToggleDarkMode(bool newValue)
    {
        IsDarkMode = newValue;
        await JSRuntime.InvokeVoidAsync("changeBackgroundColor", IsDarkMode);
    }
}