@inherits LayoutComponentBase
@using FirstTerraceSystems.AuthProviders
@using FirstTerraceSystems.Entities
@using FirstTerraceSystems.Services
@using Microsoft.AspNetCore.Components.Authorization


@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject AuthenticationStateProvider AuthStateProvider
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@
    <main>
        @if (!NavigationManager.Uri.Contains("login") && !NavigationManager.Uri.Contains("register"))
        {
            <div style="background-color:#202527" class="top-row px-4">
                <MudButton Variant="Variant.Outlined" Color="Color.Success" @onclick="Logout">Logout</MudButton>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code{
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (!NavigationManager.Uri.ToLower().Contains("register"))
        {
            if (!authState.User.Identity?.IsAuthenticated ?? false)
            {
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                NavigationManager.NavigateTo("/stockchart");
            }
        }

    }

    private async Task Logout()
    {
        var model = new LoginDto(); 
        await AuthenticationService.Logout(model);
        NavigationManager.NavigateTo("/login");
        StateHasChanged();
    }
}