.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a:not(.dropdown-item), .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

.dropdown-menu {
    background-color: transparent;
    margin-left: -3.6em !important;
}

.dropdown-item {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 10px 15px 10px;
    width: 212px;
    height: 46px;
    margin-top: 2px;
    background-color: #5B6970;
}

    .dropdown-item:first-child {
        border-radius: 5px 5px 0px 0px;
    }

    .dropdown-item.dropdown-toggle.sub-menu {
        border-radius: 0px 0px 5px 5px;
    }

    .dropdown-item:hover {
        background-color: #5B6970;
        text-decoration: none !important;
    }

.dropend .dropdown-toggle::after {
    margin-left: 90px;
}

.layout-btn {
    width: 154.18px;
    height: 30px;
    padding: 5px, 10px, 5px, 10px;
    background-color: #5B6970;
    border-radius: 5px;
    margin: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}

.chart-1 {
    display: inline-flex;
    width: 31px !important;
    height: 18px !important;
    border: 1px solid !important;
    border-color: #FFFFFF;
    border-radius: 2px;
}

.chart-2 {
    display: inline-flex;
    width: 15px !important;
    height: 9px !important;
    border: 1px solid !important;
    border-color: #FFFFFF;
    border-radius: 2px;
}

.chart-6 {
    display: inline-flex;
    width: 9px !important;
    height: 8px !important;
    border: 1px solid !important;
    border-color: #FFFFFF;
    border-radius: 1px;
}

.chart-8 {
    display: inline-flex;
    width: 6px !important;
    height: 5px !important;
    border: 1px solid !important;
    border-color: #FFFFFF;
    border-radius: 1px;
}

.chart-3-grid {
    display: inline-grid;
    gap: 4px;
}

#load-template-dropdown {
    margin-left: 0px !important;
}

.chart-8-grid {
    display: inline-grid;
    gap: 2px;
}

.dropdown-item.load-template {
    display: inline-flex;
    gap: 10px;
}

.display-Option-clicked-color {
    background-color: #272C2F !important;
}

.market-time {
    width: 100px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    gap: 10px;
}

.market-time-text {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.market-open {
    width: 114px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    gap: 10px;
}


[data-sidebar=dark] .market-time-text {
    color: #ffffff;
}

[data-sidebar=light] .market-time-text {
    color: #202527;
}

.default-chart-2-grid {
    display: inline-grid;
    gap: 5px;
}

.default-chart-2 {
    display: inline-flex;
    width: 15px !important;
    height: 6px !important;
    border: 1px solid !important;
    border-radius: 2px;
}

.default-chart-3 {
    display: inline-flex;
    border: 1px solid !important;
    border-color: #FFFFFF;
    border-radius: 2px;
    width: 6px !important;
    height: 6px !important;
}

.default-chart-3-grid {
    display: inline-grid;
    gap: -1px;
}
