@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject AuthenticationStateProvider AuthStateProvider
@inject StateContainerService StateContainer
@inject BsToastService Toast
@inject WindowsSerivce WindowsSerivce
@inject ChartService ChartService
@inject NasdaqService NasdaqService
@* @attribute [Authorize] *@
@implements IDisposable

<Toasts class="p-3" Placement="ToastsPlacement.BottomCenter" Delay="2000" AutoHide="true" ShowCloseButton="false" StackLength="1" />
<Preload />
<div class="page" style="background: radial-gradient(circle at 50% 8.19%, #1B2934 0%, #000000 100%);">
    <main>
        @if (!NavigationManager.Uri.Contains("login") && !NavigationManager.Uri.Contains("register") && !NavigationManager.Uri.Contains("loading"))
        {
            <div id="headbar" class="top-row px-4">

                @* Display options code here *@
                <div @ref="Er_DisplayOptions" class="dropdown" id="dropdownDisplayOptions">
                    <!-- Plus Icon -->
                    <button style="background: none; border: none; padding: 0; cursor: pointer;" @onclick="OpenPopup">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 16 16">
                            <path d="M8 1a.5.5 0 0 1 .5.5v6h6a.5.5 0 0 1 0 1h-6v6a.5.5 0 0 1-1 0v-6h-6a.5.5 0 0 1 0-1h6v-6A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </button>
                    <button class="btn btn-secondary dropdown-toggle layout-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DISPLAY OPTIONS
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a role="button" class="dropdown-item" data-item-type="savelayout" tabindex="1" onclick="saveLayout()">Save Layout</a>
                        @* <a role="button" class="dropdown-item">Load layout</a> *@

                        <div class="dropdown dropend">
                            <a id="loadLayoutButton" class="dropdown-item sub-menu" onclick="loadTemplates(event);" href="javascript:void(0)">Load Layout</a>
                            <div class="dropdown-menu" id="load-template-dropdown">
                                <a role="button" class="dropdown-item load-template" data-item-type="template" data-load-template="5" tabindex="2" @onclick="() => LoadTemplate    (1)">
                                    <span style="margin-top: -7px;"><span class="default-chart-2-grid"> <span class="default-chart-2"></span> <span class="default-chart-2"></span></span> <span class="default-chart-3-grid"><span class="default-chart-3"></span> <span class="default-chart-3"></span> <span class="default-chart-3"></span> </span></span> Default Layout
                                </a>
                                @* <a role="button" class="dropdown-item load-template" data-item-type="template" data-load-template="1" tabindex="3" @onclick="() => LoadTemplate(1)">
                                    <span class="chart-1"></span> 1 chart
                                </a>
                                <a role="button" class="dropdown-item load-template" data-item-type="template" data-load-template="2" tabindex="4" @onclick="() => LoadTemplate(2)">
                                    <span class="main-grid"><span class="chart-2"></span> <span class="chart-2"></span> </span>2 charts
                                </a>
                                <a role="button" class="dropdown-item load-template" data-item-type="template" data-load-template="4" tabindex="5" @onclick="() => LoadTemplate(4)">
                                    <span style="margin-top: -7px;"><span class="chart-3-grid"> <span class="chart-2"></span> <span class="chart-2"></span></span> <span class="chart-3-grid"><span class="chart-2"></span> <span class="chart-2"></span> </span></span>4 charts
                                </a>
                                <a role="button" class="dropdown-item load-template" data-item-type="template" data-load-template="6" tabindex="6" @onclick="() => LoadTemplate(6)">
                                    <span style="margin-top: -7px;"><span class="chart-3-grid"> <span class="chart-6"></span> <span class="chart-6"></span></span> <span class="chart-3-grid"><span class="chart-6"></span> <span class="chart-6"></span> </span> <span class="chart-3-grid"><span class="chart-6"></span> <span class="chart-6"></span> </span> </span>6 charts
                                </a>
                                <a role="button" class="dropdown-item load-template" data-item-type="template" data-load-template="8" tabindex="7" @onclick="() => LoadTemplate(8)">
                                    <span style="margin-top: -7px;"><span class="chart-8-grid"> <span class="chart-8"></span> <span class="chart-8"></span></span> <span class="chart-8-grid"><span class="chart-8"></span> <span class="chart-8"></span> </span> <span class="chart-8-grid"><span class="chart-8"></span> <span class="chart-8"></span> </span> <span class="chart-8-grid"><span class="chart-8"></span> <span class="chart-8"></span> </span> </span>8 charts
                                </a> *@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="market-time">
                    <span class="market-time-text">@currentTime</span>
                </div>

                <div class="market-open">
                    <span class="market-time-text">MARKET <span style="font-weight: 700;">@MarketStatus</span></span>
                </div>
                <Button ElementId="btn-logout" Class="me-2" Style="background-color:#FB5B31 !important" Outline="true" @onclick="Logout">Logout </Button>
                <Switch Class="w-auto" Value="IsDarkMode" ValueExpression="() => IsDarkMode" ValueChanged="ToggleDarkMode" />
            </div>
                    <!-- Modal Popup for Symbol Input -->
            <div class="modal fade" id="symbolModal" tabindex="-1" role="dialog" aria-labelledby="symbolModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="symbolModalLabel">Add New Chart</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mt-2" placeholder="Enter symbol" @bind="SymbolName" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" @onclick="AddChart">Ok</button>
            </div>
        </div>
    </div>
</div>


        }

        <article class="content px-4" style="background: radial-gradient(circle at 50% 8.19%, #1B2934 0%, #000000 100%);">
            @Body
        </article>
    </main>
</div>

@code {

    private string SymbolName { get; set; } = string.Empty;
     // Define the Symbol class

    private bool IsDarkMode = true;
    private ElementReference Er_DisplayOptions { get; set; }
    private string? currentTime;

    private string MarketStatus = "Closed";
    private void ToggleDarkMode(bool value)
    {
        IsDarkMode = value;

        foreach (var chartPage in StateContainerService.ChartPages)
        {
            chartPage?.JSRuntime?.InvokeVoidAsync("changeBackgroundColor", IsDarkMode);
        }
        JSRuntime.InvokeVoidAsync("changeBackgroundColor", IsDarkMode);
        JSRuntime.InvokeVoidAsync("changeDropdownColor", IsDarkMode);
        StateContainerService.IsDarkMode = IsDarkMode;
    }

    // Method to show the modal popup
    private void OpenPopup()
    {
        // Call the JavaScript to show the modal
        JSRuntime.InvokeVoidAsync("bootstrapModal.show");
    }

    // Method to add a new chart
    private async Task AddChart()
    {
        // Logic to add a chart based on the symbol name
        if (!string.IsNullOrWhiteSpace(SymbolName))
        {
            bool success = await JSRuntime.InvokeAsync<bool>("addNewChartWindowPopUp", SymbolName);
            if (success){
            Toast.ShowSuccessMessage($"Chart for {SymbolName} opened!");
                // Close the modal after adding the chart
                JSRuntime.InvokeVoidAsync("bootstrapModal.hide");
            }
            else{
            Toast.ShowDangerMessage($"{SymbolName} doesn't exist!");

            }
        }

    }
    private DotNetObjectReference<MainLayout>? _dotNetMainLayoutRef;

    protected override void OnInitialized()
    {
        _dotNetMainLayoutRef = DotNetObjectReference.Create(this);
        UpdateTime();
        // Update the time every minute
        var timer = new System.Timers.Timer(60000);
        timer.Elapsed += (sender, e) => UpdateTime();
        timer.Start();

    }

    private async void UpdateTime()
    {
        // List<HolidayList> holidayList = await NasdaqService.GetHolidays();
        var estTime = TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time"));
        var coreMarketStartTime = new TimeSpan(9, 30, 0); // 9:30 AM
        var coreMarketEndTime = new TimeSpan(16, 0, 0);   // 4:00 PM
        var timeOfDay = estTime.TimeOfDay;
        var dayOfWeek = estTime.DayOfWeek;

        if (dayOfWeek == DayOfWeek.Saturday || dayOfWeek == DayOfWeek.Sunday)
        {
            MarketStatus = "Closed"; // Market is closed on weekends
        }
        else if (timeOfDay >= coreMarketStartTime && timeOfDay <= coreMarketEndTime)
        {
            MarketStatus = "Open"; // Market is open during core hours on weekdays
        }
        else
        {
            MarketStatus = "Closed"; // Market is closed outside of core hours
        }

        // if (holidayList.Where(x => DateTime.Parse(x.date_time).Date == estTime.Date).Any())
        // {
        //     MarketStatus = "Closed";
        // }

        currentTime = estTime.ToString("h:mm tt EST");
        InvokeAsync(StateHasChanged);
    }

    // System.Timers.Timer timer;
    protected override async Task OnInitializedAsync()
    {

        await JSRuntime.InvokeVoidAsync("MainLayoutInterop.setDotNetReference", _dotNetMainLayoutRef);

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (!NavigationManager.Uri.ToLower().Contains("register"))
        {
            if (!authState.User.Identity?.IsAuthenticated ?? false)
            {
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                WindowsSerivce.UnlockWindowResize();
                await JSRuntime.InvokeVoidAsync("changeBackgroundColor", IsDarkMode);
                NavigationManager.NavigateTo("/loading");
                // NavigationManager.NavigateTo("/multiChats");
                // NavigationManager.NavigateTo("/stockchart");
            }
        }

        await JSRuntime.InvokeVoidAsync("LoadKeyBordEventToDisplayOptions", Er_DisplayOptions, ChartService.InitialChartSymbols);
    }

    private async Task Logout()
    {
        try
        {
            var model = new LoginDto();
            await AuthenticationService.Logout(model);
            WindowsSerivce.CloseAllOpenedWindows();
            WindowsSerivce.LockWindowResize();
            NavigationManager.NavigateTo("/login");
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Logout failed: {ex.Message}");
            // Log the exception or show a message to the user
        }
    }

    [JSInvokable]
    public void SaveLayout(int totalCharts)
    {
        ChartService.UpdateChartLayout(totalCharts);
        ChartService.SaveChartLayout();
        Toast.ShowSuccessMessage("Layout Saved!");
    }

    private async Task LoadTemplate(int totalCharts)
    {
        ChartService.UpdateChartLayout(totalCharts);
        await JSRuntime.InvokeVoidAsync("createDashboard", ChartService.InitialChartLayout, ChartService.InitialChartSymbols);
        StateContainerService.IsAllowCloseAllWindows = true;
        WindowsSerivce.CloseAllOpenedWindows();
        await JSRuntime.InvokeVoidAsync("updateAllSymbols", ChartService.InitialChartSymbols.Where(x => x.IsVisible));
    }

    public void Dispose()
    {
        _dotNetMainLayoutRef?.Dispose();
    }
}