@inherits LayoutComponentBase

<div class="container-fluid">
    <Header />
    <main>
        @Body
    </main>
</div>

<Toasts class="p-3" Placement="ToastsPlacement.BottomCenter" Delay="2000" AutoHide="true" ShowCloseButton="false" StackLength="1" />