@using FirstTerraceSystems.AuthProviders
@using FirstTerraceSystems.Entities
@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject AuthenticationStateProvider AuthStateProvider
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            <MudButton @onclick="Logout">Logout</MudButton>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code{
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        // if (!NavigationManager.Uri.ToLower().Contains("register"))
        // {
        //     if (!authState.User.Identity?.IsAuthenticated ?? false)
        //     {
        //         NavigationManager.NavigateTo("/login");
        //     }
        //     else
        //     {
        //         NavigationManager.NavigateTo("/login");
        //         // NavigationManager.NavigateTo("/stockchart");
        //     }
        // }
        
    }
    
    private async Task Logout()
    {
        var model = new LoginDto();
        await AuthenticationService.Logout(model);
    }

}