@using FirstTerraceSystems.AuthProviders
@using FirstTerraceSystems.Entities
@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject AuthenticationStateProvider AuthStateProvider
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        @if (!NavigationManager.Uri.Contains("login") && !NavigationManager.Uri.Contains("register"))
        {
            <div id="headbar" class="top-row px-4">
                <MudButton Variant="Variant.Outlined" Class="mr-2" Color="Color.Success" @onclick="Logout">Logout</MudButton>
                <MudSwitch @bind-Checked="@IsDarkMode" Color="Color.Primary" Class="w-auto" ValueChanged="@((bool newValue) => ToggleDarkMode(newValue))" />
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    private bool IsDarkMode { get; set; } = true;

    private async Task ToggleDarkMode(bool newValue)
    {
        IsDarkMode = newValue;
        await JSRuntime.InvokeVoidAsync("changeBackgroundColor", IsDarkMode);
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (!NavigationManager.Uri.ToLower().Contains("register"))
        {
            if (!authState.User.Identity?.IsAuthenticated ?? false)
            {
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("changeBackgroundColor", IsDarkMode);
                NavigationManager.NavigateTo("/stockchart");
            }
        }

    }

    private async Task Logout()
    {
        var model = new LoginDto();
        await AuthenticationService.Logout(model);
        NavigationManager.NavigateTo("/login");
        StateHasChanged();
    }
}